In [14]:
#LinearRegressionTask

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'X': [16, 19, 20, 24, 1, 12, 17, 23, 3, 7],
    'Y': [31, 38, 61, 70, 1, 31, 35, 54, 10, 17]
}

df = pd.DataFrame(data)
df.head()

   id   X   Y
0   1  16  31
1   2  19  38
2   3  20  61
3   4  24  70
4   5   1   1

In [6]:
sampleMeanX = df['X'].mean()
print(sampleMeanX)

sampleMeanY = df['Y'].mean()
print(sampleMeanY)

14.2
34.8

In [13]:
X = df['X'].values.reshape(-1,1)
y = df['Y'].values

model = LinearRegression()
model.fit(X,y)

coef_01 = model.coef_[0]
coef_00 = model.intercept_

coef_01 = round(coef_01,2)
coef_00 = round(coef_00,2)

print(coef_01)
print(coef_00)

2.57
-1.68

In [15]:
r_squared = model.score(X,y)
print(round(r_squared, 2))

0.9

In [18]:
#KNN and Naive Bayes
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'X': [33, 71, 26, 23, 76, 57, 36, 85, 11, 23],
    'Y': [71, 86, 30, 30, 21, 29, 48, 64, 34, 88],
    'Class': [1, 1, 1, 1, 1, 1, 0, 1, 0, 1]
}

data = pd.DataFrame(data)

data.head()

   id   X   Y  Class
0   1  33  71      1
1   2  71  86      1
2   3  26  30      1
3   4  23  30      1
4   5  76  21      1

In [19]:
new_object = np.array([60,48])

points = np.array([
    [33, 71],
    [71, 86],
    [26, 30],
    [23, 30],
    [76, 21],
    [57, 29],
    [36, 48],
    [85, 64],
    [11, 34],
    [23, 88]
])

# Calculate Euclidean distances
distances = np.sqrt(np.sum((points - new_object)**2, axis=1))

# Find the index of the minimum distance
nearest_neighbor_index = np.argmin(distances)

# Get the coordinates of the nearest neighbor
nearest_neighbor_coordinates = points[nearest_neighbor_index]

# Print the result
print(f"The nearest neighbor is at coordinates {nearest_neighbor_coordinates} with a Euclidean distance of {distances[nearest_neighbor_index]:.3f}")

The nearest neighbor is at coordinates [57 29] with a Euclidean distance of 19.235

In [20]:
import numpy as np

# Coordinates of the new object
new_object = np.array([60, 48])

# Coordinates and IDs of the given points
points = np.array([
    [1, 33, 71],
    [2, 71, 86],
    [3, 26, 30],
    [4, 23, 30],
    [5, 76, 21],
    [6, 57, 29],
    [7, 36, 48],
    [8, 85, 64],
    [9, 11, 34],
    [10, 23, 88]
])

# Calculate Euclidean distances
distances = np.sqrt(np.sum((points[:, 1:] - new_object)**2, axis=1))

# Find the indices of the three minimum distances
nearest_neighbors_indices = np.argsort(distances)[:3]

# Get the IDs of the three nearest neighbors
nearest_neighbors_ids = points[nearest_neighbors_indices, 0]

# Print the result
result_string = ", ".join(map(str, nearest_neighbors_ids))
print(f"The IDs of the three nearest points are: {result_string}")

The IDs of the three nearest points are: 6, 7, 8

In [21]:
import numpy as np

# Coordinates and classes of the given points
points = np.array([
    [33, 71, 1],
    [71, 86, 1],
    [26, 30, 1],
    [23, 30, 1],
    [76, 21, 1],
    [57, 29, 1],
    [36, 48, 0],
    [85, 64, 1],
    [11, 34, 0],
    [23, 88, 1]
])

# Coordinates of the new object
new_object = np.array([60, 48])

# Calculate Euclidean distances
distances = np.sqrt(np.sum((points[:, :2] - new_object)**2, axis=1))

# Find the indices of the three minimum distances
nearest_neighbors_indices = np.argsort(distances)[:3]

# Get the classes of the three nearest neighbors
nearest_neighbors_classes = points[nearest_neighbors_indices, 2]

# Predict the class based on majority voting
predicted_class = np.bincount(nearest_neighbors_classes).argmax()

# Print the result
print(f"The predicted class for the new object is: {predicted_class}")

The predicted class for the new object is: 1

In [22]:
import numpy as np

# Coordinates and classes of the given points
points = np.array([
    [33, 71, 1],
    [71, 86, 1],
    [26, 30, 1],
    [23, 30, 1],
    [76, 21, 1],
    [57, 29, 1],
    [36, 48, 0],
    [85, 64, 1],
    [11, 34, 0],
    [23, 88, 1]
])

# Coordinates of the new object
new_object = np.array([60, 48])

# Calculate Manhattan distances
distances = np.sum(np.abs(points[:, :2] - new_object), axis=1)

# Find the indices of the three minimum distances
nearest_neighbors_indices = np.argsort(distances)[:3]

# Get the classes of the three nearest neighbors
nearest_neighbors_classes = points[nearest_neighbors_indices, 2]

# Predict the class based on majority voting
predicted_class = np.bincount(nearest_neighbors_classes).argmax()

# Print the result
print(f"The predicted class for the new object is: {predicted_class}")

The predicted class for the new object is: 1